{
    "penalty": "l2",
    "dual": false,
    "tol": 0.0001,
    "C": 1.0,
    "fit_intercept": true,
    "class_weight": "balanced",
    "random_state": [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
    ],
    "model": "LogisticRegression"
}
