# additional files from running (I)Python

__pycache__
*ipynb_checkpoints*

# virtual python env
env

# preprocessed data
*data*
!data_config.json

# testing files / directories
test*

# additional file from running tox
.tox

# only retain the html output so collaboraters can see
build/tox/.tmp
build/tox/log

build/tox/website/bin
build/tox/website/lib
build/tox/website/log

build/tox/website/tmp/doctrees